@import './global';
.page-notebook-writing {
  .ivu-layout-sider {
    background: #2f2f2f;
  }
  .ivu-input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
  }
  .side-content {
    .ivu-menu-dark {
      background: transparent;
      .ivu-menu-opened {
        background: #3d3d3d;
        .ivu-menu-submenu-title {
          background: #1b1a1a;
        }
      }
      .ivu-menu-submenu-title {
        padding: 20px 16px;
        &:hover {
          background: #1b1a1a;
        }
      }
      .ivu-menu-submenu .ivu-menu-item-active {
        background: #1b202b!important;
      }
    }
  }
  .ivu-menu-submenu-title {
    z-index: 901;
  }
  .ivu-menu-vertical .ivu-menu-submenu-title-icon {
    right: 8px;
  }

  .ivu-menu-item{
    .ivu-dropdown {
      right: 44px;
    }
  }
}
.ivu-select-dropdown.ivu-dropdown-transfer {
  background: rgba(0,0,0,.8);

  .ivu-dropdown-item {
    color: $font-color-white-opacity;
    &:hover {
      background: #1b1a1a;
      color: $font-color-white;
    }
  }
}
